<h3>{{ title() }}</h3>

<!-- Zoneless sistem -->

<ul>
  @for (category of categories(); track category.Id) {
    <!-- Json'dan gelen dosyanın property'lerine dikkat ediniz -->
    <li>
      {{ category.id }} - {{ category.categoryName }}
    </li>
  }
</ul>

<hr />

<table>
  <tr>
    <th>Id</th>
    <th>İsim</th>
    <th>Açıklama</th>
    <th>İşlemler</th>
  </tr>

  @for (category of categories(); track category.id) {
    <tr>
      <td>{{ category.id }}</td>
      <td>{{ category.categoryName }}</td>
      <td>{{ category.description }}</td>
      <td>
        <button (click)="editCategory(category)">Güncelle</button>
        <button (click)="deleteCategory(category.id)">Sil</button>
      </td>
    </tr>
  }
</table>

<!-- ====================== -->

<h4>Yeni Kategori Ekle</h4>

<form (submit)="addCategory($event)">
  <!-- Kategori ismi -->
  <input
    type="text"
    placeholder="Kategori İsmi"
    [value]="newCategoryName()"
    (input)="onNewCategoryNameChange($event)"
  />

  <!-- Açıklama -->
  <input
    type="text"
    placeholder="Açıklama"
    [value]="newCategoryDescription()"
    (input)="onNewCategoryDescriptionChange($event)"
  />

  <button type="submit">Ekle</button>
</form>

<hr />

@if (selectedCategory(); as cat) {
  <div>
    <h4>Kategori güncelle (id: {{ selectedCategory()?.id }})</h4>

    <form (submit)="updateCategory($event)">
      <input
        type="text"
        [value]="selectedCategory()?.categoryName"
        (input)="onEditNameChange($event)"
      />

      <input
        type="text"
        [value]="selectedCategory()?.description"
        (input)="onEditDescriptionChange($event)"
      />

      <button type="submit">Güncelle</button>
      <button type="button" (click)="cancelEdit()">İptal</button>
    </form>
  </div>
}

<hr />

<h3>Products</h3>

<table>
  <tr>
    <th>Id</th>
    <th>Product Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Category Id</th>
    <th>Category Name</th>
    <th>İşlemler</th>
  </tr>

  @for (product of products(); track product.id) {
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.productName }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }} TL</td>
      <td>{{ product.categoryId }}</td>
      <td>{{ product.categoryName }}</td>
      <td>
        <button (click)="editProduct(product)">Güncelle</button>
        <button (click)="deleteProduct(product.id)">Sil</button>
      </td>
    </tr>
  }
</table>

<!-- ====================== -->

<h4>Yeni Product Ekle</h4>

<form (submit)="addProduct($event)">
  <!-- Ürün ismi -->
  <input
    type="text"
    placeholder="Ürün İsmi"
    [value]="newProductName()"
    (input)="onNewProductNameChange($event)"
  />

  <!-- Açıklama -->
  <input
    type="text"
    placeholder="Açıklama"
    [value]="newProductDescription()"
    (input)="onNewProductDescriptionChange($event)"
  />

  <!-- Fiyat -->
  <input
    type="number"
    placeholder="Fiyat"
    [value]="newProductPrice()"
    (input)="onNewProductPriceChange($event)"
  />

  <select (change)="onNewProductCategoryIdChange($event)">
    <option value="">Kategori seçiniz</option>

    @for (category of categories(); track category.id) {
      <option [value]="category.id">
        {{ category.categoryName }}
      </option>
    }
  </select>

  <button type="submit">Ekle</button>
</form>

@if (selectedProduct(); as product) {
  <div>
    <h4>Product güncelle (id: {{ product?.id }})</h4>

    <form (submit)="updateProduct($event)">
      <input
        type="text"
        placeholder="Ürün İsmi"
        [value]="product.productName"
        (input)="onNewProductNameChange($event)"
      />

      <input
        type="text"
        placeholder="Açıklama"
        [value]="product.description"
        (input)="onNewProductDescriptionChange($event)"
      />

      <input
        type="number"
        placeholder="Fiyat"
        [value]="product.price"
        (input)="onNewProductPriceChange($event)"
      />

      <select
        [value]="newProductCategoryId()"
        (change)="onNewProductCategoryIdChange($event)"
      >
        <option value="">Kategori seçiniz</option>

        @for (category of categories(); track category.id) {
          <option [value]="category.id">
            {{ category.categoryName }}
          </option>
        }
      </select>

      <button type="submit">Güncelle</button>
      <button type="button" (click)="cancelEditProduct()">İptal</button>
    </form>
  </div>
}

<hr />
